# Binaries
*.exe
*.dll
*.msi
*.zip
*.rar
*.7z
*.log
*.old
*.dat
*.err.log.old
*.csv

# Build folders
build/
dist/
release/
output/
auth_info/
temp/
rag_data/
data/

# Node
node_modules/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Large assets
models/
*.bin